.main{
  background: linear-gradient(to top, skyblue, #eeee);
}
.btn:hover{
  background-color: skyblue !important;
  color: black !important;
}
.containers{
  background: linear-gradient(to top, skyblue, #eeee) !important;
}
